@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  background-image: url(./assets/logo.png);
  background-size: cover;
  background-position: center;
}

 #home-heading{
  background: linear-gradient(to left , #7E30E1 , #E26EE5);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
   
   font-family: "Noto Serif", serif;
} 

#Nvlinks{
  font-family: "Open Sans", sans-serif;
}

#home-div p{
  font-family: "Open Sans", sans-serif;
}

#hero-text{
  box-shadow: 0 0 10px 2.5px rgb(185, 182, 182);
}

.flogo{
  background-image: url(./assets/65735da0d7017_Group21.png);
  background-size: cover;
  background-position: center;
}

.footlinks a{
  font-size: 18px;
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footlinks a:hover{
  border-bottom: 2px solid black;
}

.footcontact p{
  color: black;
}

.card{
  box-shadow: 0 0 10px 0.5px rgb(185, 182, 182);
}

#imgdiv{
  animation: updown 1.5s linear infinite;
}

@keyframes updown {
  0%{
    transform: translateY(4px);
  }50%{
    transform: translateY(-4px);
  }100%{
    transform: translateY(4px);
  }
}